
/*
* {
	margin: 0;
	padding: 0;
	color: #bbb;
	//letter-spacing: 0.15em; 
}
*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#arti {
	background-image: linear-gradient(whitesmoke, white);
	width: 100%;
}

#arti .mmm {
	width: 70%;
	//margin-left: 14%;
	border-radius: 1em 1em 0% 0%;
	margin-top: 0.6em; 
	margin-bottom: 0.3em; 
}

#arti .ti {
	font-size: 0.9em;
	//text-align: justify;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	margin-left: 1.5em;
}

#arti .te {
	font-size: 0.9em;
	//text-align: justify;
	//background-image: linear-gradient(white, lightyellow);
	line-height: 20px;
	text-align: left;
	letter-spacing: .1em;
}

#arti .te::first-letter {
	color: black;
	font-weight: bold;
	font-size: 1.1em;
	font-family: Times;
}


#co {
	position: absolute;
	left: -100px;
	top: -200px;
	width: 111px;
	height: 111px;
	background-color:  red;
}

.f9 {
	font-size: var(--fon2);
	font-family: arial;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* Classe conte parecida com modal */
.conte {
	max-width: 80%;
	//width: 55px;
	background-color: whitesmoke;
	border-radius: 0.5em;
	margin-left: 3em;
}

.conf {
	//display: flex;
	width: 600px;
}

.conte1, .conte2, .conte3 {
	width: 93%;
	color: gray;
	height: 75%;						/*Área de conteúdo principal acima da propaganda "mkt" */
	overflow: scroll;
	//background-color: green;
	//font-size: 0.8em;
	//text-transform: uppercase;
	margin-left: 0.1em;
	font-family: arial;
	padding: .5em;
}




/* Excluído mkt, restando somente mkt1, mkt2... */
.mkt1, .mkt2, .mkt3 {
	//background: lightgray;
	height: 144px;
	width: 96%;
	//margin-left: 2%;
	//padding-top: 22px;
	border-top: solid 1px lightgray;
}

h6 {				/* Palavra "Apoio" que fica em cima do slider | tag "p" está em ""mkt.js "*/
	//position: absolute;
	margin: 1em;
	//text-transform: uppercase;
	font-family: arial;
	color: gray;
	letter-spacing: 0.1em;
	text-align: left;
	//font-size: var(--fon3);			/* Altura, tamanho, da letra 'apoio', a palavra apoio */
}


h6::first-letter {
	font-size: 1.3em;
}









h2, h3, h4, h5 {
	margin-left: 1em;
	margin-top: 1.3em;
	margin-bottom: .3em;
}

/* Barra progresso*/

.buffered, .progress {
	height: 3px;
	margin-left: 2em;
	width: 10em;
}

.buffered {
  //position: absolute;
  background: gray;		/*cor fundo */
}

#buffered-amount {
  display: block;
  height: 100%;
  background-color: green;
  width: 0;
}

.progress {
  margin-top: 0px;
  //position: absolute;
  top: 22px;
}

#progress-amount {
	margin-top: .5em;
  display: block;
  height: 100%;
  background-color: yellow;
  width: 0;
}


/* Barra progresso atuando como led*/
progress {
	display: block;
	margin-left: 3em;
	margin-top: .5em;
	width: .6em;
	height: .6em;
	border-radius: 50%;
	border: 1px solid white;
   background-color: #222;
	box-shadow: inset 0 0 5px yellow;
}

pre {
	font-size: 0.6em;
	text-transform: uppercase;
	margin-left: -2em;
	color: lightyellow;
}

/* Cor On somente, ou seja, quando está tocando */
progress::-moz-progress-bar {
   background-color: yellow;
}
progress::-webkit-progress-bar {
background-color: yellow;
}

:root {
	--cor1: #0b9444;
	--cor2: #333;
	--cor3: #222;
	--sombra: .1em .2em 11px black;
	--borda: 1em;
	--fon2: .7em;
	/* usado na página config, por exemplo */
	--fon3: .6em;
}

a:link {
	color: lightgreen;
}

a:visited {
	color: green;
}

a:hover {
	color: blue;
}

a:active {
	color: purple;
}

/* Compositor, preferecialmente */
samp {
	display: block;
	color: yellow;
	font-size: var(--fon2);
	text-transform: lowercase;
}

/*
main p:first-child {
	color: red;
	text-transform: lowercase;
}
*/

kbd {				/* Estilo Musical, ou seja, página .html*/
	font-size: var(--fon3);
	text-transform: uppercase;
	color: lightgreen;
	margin-bottom: 3em;
}


.pb {
	filter: grayscale(100%);
}

.bt {
	background-color: transparent;	/* antes estava definido "var(--cor2)" */
	filter: grayscale(100%);
	font-size: 2em;
	border-radius: 50%;
	padding: .1em;
	box-shadow: var(--sombra);
	margin-bottom: 0em;
	width: 1.2em;
	height: 1em;
}

#bt2 {
	filter: invert(1);
}

#emPl {
	font-size: 1.7em;
}


span {
	font-size: .7em;
	padding-left: .4em;
}

/* Em index.html "est" e "est2" já foram deletados, mas tem que escluir doutras páginas para só depois excluir aqui! ! !*/
/*
#est, #est2 {
	position: absolute;
	top: 50%;
	font-size: .8em;
	visibility: hidden;
}

#est {
	left: 33%;
}

#est2 {
	right: 33%;
	direction: rtl;
}
*/

#btD, #btE {
	position: absolute;
	top: 1em;
}

#btD2, #btE2 {
	position: absolute;
	top: 0.4em;
}

#btD {
	right: 33%;
	margin-top: .9em;
}

#btD2 {
	right: 37%;
	margin-top: .9em;
}

#btE {
	margin-top: .7em;
	left: 33%;
}

#btE2 {
	margin-top: .7em;
	left: 37%;
}


.bt:hover {
  background-color: #555;
  filter: grayscale(0);
	box-shadow:.2em .3em 11px #222;
}





p {
	font-size: 0.8em;
}

footer {
	font-size: 0.8em;
}


#tudo {
	display: flex;
}


/*
#display {
	box-shadow: var(--sombra);
	width: 111px;
	height: 222px;
	border-radius: 50%;
	margin: 1em;
	text-align: center;
	//font-size: .9em;
	background-color:  var(--cor3);
}
*/

#tri {
	font-size: 3.5em;
	padding-right: 0.4em;
}



body {
	margin: 0em;
	background: linear-gradient(to right, #222, #000, #222, #444);
}



#baseDisco {
	border-radius: 3em / 6em;
	width: 14em;
	height: 19.3em;
	text-align: center;
	margin-bottom: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.6em;
	box-shadow: var(--sombra);
	background-color:  var(--cor3);
}



article {
	position: absolute;
	left: 44%;
	top: 71%;
	width: 20em;
	//text-align: center;
	margin-bottom: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.6em;
	color: yellow;
	text-shadow: 2px 2px 2px black; // verificar esses valores, pois coloquei de cabeça.
}

article h1 {
	font-size: 1.2em;
	margin: 1em;
	position: absolute;
	color: yellow;
	text-transform: lowercase;
	//left: 2em;
}

article #gen  {
	position: absolute;
	left: 2em;
	top: 5em;
	font-size: .8em;
	//text-align: left;
	width: 21em;
}

#capa {
	width: 100%;
	border-radius: 3em / 6em;
	box-shadow: var(--sombra);
	background-color:  var(--cor3);
	margin-top: 1em;
}



#transport {
	display: flex;
	justify-content: center;
	margin: 1em;
	padding: 1em;
}

#disco {
	background-color: #333;
		border-radius: 50%;
		width: 9.8em;
		height: 9.8em;
		margin: 0;
		border: 0;
}

#emoji {
	background-color: transparent;
	font-size: 8em;
	animation: spinBall 1.9s linear infinite;
}

@keyframes spinBall {
	100% {
		transform: rotate(360deg);	
	}
}

#pla {
	width: 5em;
	height: 5em;
	position: absolute;
	border-radius: 50%;
	background-color: #444;
	border: 0;
	box-shadow: var(--sombra);
}

article #emPl:hover {
	font-size: 3em;
}

#disco:hover, details:hover {
	filter: brightness(1.4);
}



	/* ESTILO SOMENTE DO BOTÃO TIPO MP3 PLAYR, QUE É NOVO */	



#cima {
	display: flex;
}

#baixo {
	display: flex;
}

.estilo {
	background-color: lightgreen;
	color: green;
	box-shadow: inset 0 0 5px green;
}

.estilo:hover {
	background-color: green;
}

.volume {
	background-color: lightyellow;
	color: yellow;
	font-weight: bold;
	box-shadow: inset 0 0 5px yellow;
}

.volume:hover {
	background-color: yellow;
}



main {
	width: 60%;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 20%;
	top: 10em;
	z-index: -1;
}


details > summary {
	list-style: none;
}

details > #about {
	position: relative;
	margin-left: 11em;
	margin-top: 0px;
	width: 23em;
	background-color: #111;
	color: white;
	opacity: 0.9;
	font-size: .8em;
	padding: .7em;
	border-radius: 0.5em;
	//z-index: 999;
	margin-left: -9em;
}


#logo {
	width: 2em;
	height: 2em;
	padding: .5em;
	//margin-bottom: 2.6em;
	//box-shadow: inset 0 0 5px black;
	background-color: #444;
	border-radius: 25%;
}


footer {
	margin-top: 2em;
	margin-bottom: 1em;
}

section {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 3em / 6em;
	background-color: #222;
	width: 9em;
	height: 7em;
	box-shadow: var(--sombra);
}

#aa, #bb, #cc, #dd {
	width: 3.5em;
	height: 3.5em;
}

#aa {
	border-radius: 100% 0% 0% 0%;
}

#bb {
	border-radius: 0% 100% 0% 0%;
	text-align: right;
}

#cc {
	border-radius: 0% 0% 0% 100%;
}

#dd {
	border-radius: 0% 0% 100% 0%;
	text-align: right;
}


/* Configuração abaixo faz o rodapé colado na base inferior, tanto na tela desktop (notebook) quanto no modo celular */

		/* NOVO */
	html, body, .page {
	height: 100%; /* needed for proper layout */
	}

	.page {
	display: flex;
	flex-direction: column;
	}

	.corpo {
	flex: 1 1 auto;
	position: relative;/* need this to position inner content */
	overflow-y: auto;
	}

	menu {							/* ESTA TAG TÁ FAZENDo LUGAR DE FOOTER*/
	flex: 0 0 auto;				/* está propriedade n é referente a "display:flex" logo abaixo*/
	background-color: var(--cor2);
	display: flex;					/* faz o conteúdo ficar um ao lado do outro*/
	justify-content: space-around;
	align-items: center;
	}
	
	menu div div {
		width: 33%;
		text-align: center;
	}

	#rodapeB {
		display: flex;
		justify-content: center;
		padding-top: 3em;
		padding-bottom: 1em;
	}






/* RELATIVO AO LOGO NO RODAPÉ, INCLUSIVE O TOGGLE Q FAZ SURGIR A TELA ABOUT */

/* Escondendo a tag input checkbox*/
[id^=drop] {			
	display: none;
}

/* Escondendo o conteúdo */
	.toggle + a, ul {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding:14px 20px;	
		color: white;
		font-size: 1em;
		border:none;
		text-transform: uppercase;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
	padding: 0.5em;
	//margin-left: 23em;
	position: absolute;
	bottom: 5em;					/* ou seja, alinhado na base o texto "cresce" de baixo pra cima*/
	left: -10em;
	color: whitesmoke;
	z-index: 999;
	font-size: 0.8em;
	width: 24em;
	background-color: black;
	font-family: arial;
		}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

	nav ul {
	position: relative;
	}



.btTo {
	position: absolute;
	left: 2em;
	top: 2.2em;
}

.modal {
	width: 21.8em;
	height: 36em;
	position: fixed;
	top: 0.5em;
	right: 0.4em;
	//bottom: 0;
	//left: 0;
	background: white;
	//opacity: 0;
	visibility: hidden;
	border-radius: .5em .0em .5em .5em;
	z-index: 9999;
}


		/* Relativo ao modal no rodapé */

/* Classe conte parecida com modal */
/*estilizar nossa janela modal*/
 .modal1, .modal2, .modal3 {
	width: 21.8em;
	height: 36em;
	position: fixed;
	top: 0.5em;
	right: 0.4em;
	//bottom: 0;
	//left: 0;
	background: white;
	//opacity: 0;
	visibility: hidden;
	border-radius: .5em .0em .5em .5em;
	z-index: 9999;
}

/*Funcionalidades e aparência*/
.modal:target, .modal1:target, .modal2:target, .modal3:target {
	//opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/*mais apresentável ...*/
.modal > div {
	width: 22em;
	position: relative;
	//margin: 15% auto;
	//padding: 15px 20px;
	//background: pink;
}

/*estilizando botão de fechar*/
.fechar, .fechar1, .fechar2, .fechar3 {
	width: 2em;
	position: absolute;
	right: 0em;
	top: 0px;
	text-align: center;
	line-height: 30px;
	//margin-top: 5px;
	//color: red;
	background: whitesmoke;
	border-radius: .5em 0em 0em .5em;
	z-index: 9999;
}

.btModal {
	filter: grayscale(100%);
	font-size: 1.2em;
	margin-right: 1.2em;
}


/* mkt


.sli {
	height: 77px;
	margin-right: 22px;
}

.slideshow {
	width: 88%;	
	//height: auto;
	margin: 0 auto;
	overflow: hidden;
	//border: solid 1px gray;
	//padding: .5em;
}
.slideshow-container {
	width: 300px;
	font-size: 1em;
	transition: 1s ease;
	height: 88px;
}
.slideshow-container:hover {
	animation-play-state: paused;
}
.slide {
animation: slide 11s ease infinite;
}
@keyframes slide {
	0% {
	transform: translateX(-0%);
	}
	25% {
	transform: translateX(-5%);
	}
	50% {
	transform: translateX(-20%);
	}
	75% {
	transform: translateX(-50%);
	}
}
*/


.slide {
	display: flex;
	margin-top: .9em;
	margin-left: 1.5em;
}

.sli {
	height: 3.6em;
	margin-right: 1em;
}


/* Media Queries
--------------------------------------------- [DAKI PRA BAIXO É O LAYOUT DISPLAY CELULAR] */

/* @media é a mesma configuração, com 480px, utilizada no app Guri2*/
@media all and (max-width : 480px) {

/*
	#est {
		left: 1em;
	}
	
	#est2 {
		right: 1em;
	}
*/
	
	#btD {
		right: .5em;
	}
	
	#btE {
		left: .5em;
	}
	
	h1 {
		left: 2em;
	}
	
	article {
		left: 1em;
		top: 60%;
	}

	#btD2 {
		right: 17%;
	}
	
	#btE2 {
		left: 17%;
	}

}





