* {
	margin: 0;
	padding: 0;
	color: #bbb;
	font-family: arial;
	letter-spacing: 0.15em;
	text-decoration: none;
}


:root {
	--cor1: #0b9444;
	--cor2: #333;
	--sombra: .2em .3em 11px black;
	--borda: 1em;
}



.bt {
	background-color: var(--cor2);
	filter: grayscale(100%);
	font-size: 2em;
	border-radius: 50%;
	padding: .2em;
	box-shadow: var(--sombra);
	margin-bottom: .2em;
	width: 1.3em;
	height: 1.3em;
}

#emPl {
	font-size: 1.7em;
}


span {
	//font-size: .9em;
	//filter: grayscale(100%);
	padding-left: .2em;
}


#est, #est2 {
	position: absolute;
	top: 50%;
	font-size: .8em;
	visibility: hidden;
}

#btEs {
	position: absolute;
	top: 35%;
	left: 33%;
}


.bt:hover {
  background-color: #444;
  filter: grayscale(0);
  //border: 1px solid #111;
	box-shadow:.2em .3em 11px #222;
}


#est {
	left: 33%;
}

#est2 {
	right: 33%;
	direction: rtl;
}


p {
	font-size: 0.8em;
}

footer {
	font-size: 0.8em;
}


#tudo {
	display: flex;
}

#display {
	box-shadow: var(--sombra);
	min-width: 7em;
	min-height: 2em;
	border-radius: 7px;
	margin-bottom: 1em;
	padding: .3em .6em;
	text-align: center;
}

#modo {				/* Estilo Musical, ou seja, página .html*/
	font-size: .5em;
	text-transform: uppercase;
}

body {
	margin: 0em;
	//background-color: var(--cor2);
	background: linear-gradient(to right, #222, #000, #222, #444);
}



#baseDisco {
	//border: 3px solid green;
	border-radius: 3em / 6em;
	background-color: #222;
	width: 12em;
	height: 8.1em;
	text-align: center;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	box-shadow: var(--sombra);
}


#transport {
	//background-color: lightskyblue;
	display: flex;
	justify-content: center;
	margin: 1em;
	padding: 1em;
}

#disco {
	background-color: gray;
		border-radius: 50%;
		width: 9.8em;
		height: 9.8em;
		margin: 0;
		padding: 0;
		border: 0;
}

#emoji {
	background-color: transparent;
	font-size: 3em;
	animation: spinBall 1.8s linear infinite;
}

@keyframes spinBall {
	100% {
		transform: rotate(360deg);	
	}
}

#pla {
	width: 5em;
	height: 5em;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0 0 5px cyan;
	background-color: #444;
	border: 0;
}

#pla:hover, #disco:hover, details:hover {
	filter: brightness(1.4);
}



	/* ESTILO SOMENTE DO BOTÃO TIPO MP3 PLAYR, QUE É NOVO */	



#cima {
	display: flex;
}

#baixo {
	display: flex;
}

.estilo {
	background-color: lightgreen;
	color: green;
	box-shadow: inset 0 0 5px green;
}

.estilo:hover {
	background-color: green;
}

.volume {
	background-color: lightyellow;
	color: yellow;
	font-weight: bold;
	box-shadow: inset 0 0 5px yellow;
}

.volume:hover {
	background-color: yellow;
}



main {
	//background-color: purple;
	width: 60%;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 22%;
	top: 22%;
}

details {
	margin-left: 33%;
	margin-top: 1em;
	z-index: 22;
}

details > summary {
	list-style: none;
}

details > #about {
	width: 18em;
	background-color: #111;
	opacity: 0.9;
	font-size: .9em;
	padding: 0.5em;
	border-radius: 0.5em;
}

footer {
	margin-top: 2em;
	margin-bottom: 1em;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 3em / 6em;
	background-color: #222;
	width: 9em;
	height: 7em;
	box-shadow: var(--sombra);
}

#aa, #bb, #cc, #dd {
	width: 3.5em;
	height: 3.5em;
}

#aa {
	border-radius: 100% 0% 0% 0%;
}

#bb {
	border-radius: 0% 100% 0% 0%;
	text-align: right;
}

#cc {
	border-radius: 0% 0% 0% 100%;
}

#dd {
	border-radius: 0% 0% 100% 0%;
	text-align: right;
}


/* Configuração abaixo faz o rodapé colado na base inferior, tanto na tela desktop (notebook) quanto no modo celular */

		/* NOVO */
	html, body, .page {
	height: 100%; /* needed for proper layout */
	}

	.page {
	display: flex;
	flex-direction: column;
	}

	.corpo {
	flex: 1 1 auto;
	position: relative;/* need this to position inner content */
	overflow-y: auto;
	//padding: 0em 2em 0em 2em;	/*NOVO by Joe*/
	}

	menu {							/* ESTA TAG TÁ FAZENDo LUGAR DE FOOTER*/
	flex: 0 0 auto;
	background-color: var(--cor2);
	}
	
	menu div div {
		width: 33%;
		text-align: center;
	}

	#rodapeB {
		display: flex;
		justify-content: center;
		padding-top: 3em;
		padding-bottom: 1em;
	}


/* Media Queries
--------------------------------------------- [DAKI PRA BAIXO É O LAYOUT DISPLAY CELULAR] */

@media all and (max-width : 768px) {

#est {
	left: 1em;
}

#est2 {
	right: 1em;
}



details {
	margin-left: 10%;
}

#btEs {
	left: 5%;
}




